@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
             --Cyan: hsl(179, 62%, 43%);
             --Bright-Yellow: hsl(71, 73%, 54%);


             --Light-Gray: hsl(204, 43%, 93%);
             --GrayishBlue: hsl(218, 22%, 67%);
}

* {
             padding: 0;
             margin: 0;
             box-sizing: border-box;
}

.attribution {
             font-size: 11px;
             text-align: center;
             margin-top: 10px;
}

.attribution a {
             color: hsl(228, 45%, 44%);
}

body {
             font-family: 'Karla', sans-serif;
             font-size: 16px;
             font-weight: 400;
             background-color: var(--Light-Gray);
}

.xxx {
             width: 700px;
             margin: 0 auto;
             margin-top: 10%;
             border-radius: 10px;
             box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.09);
}

.contenedor {

             background-color: white;
             padding: 20px;
             border-radius: 10px 10px 0 0;
             height: 200px;
}

.contenedor h1 {
             color: var(--Cyan);
}

.sup {
             color: var(--Bright-Yellow);

}

.sup2 {
             color: var(--GrayishBlue);
             margin-top: 10px;
}




.container {
             display: flex;

             border-radius: 0 0 10px 10px;

}

.container__uno {
             width: 50%;
             background-color: #2bb3b1;
             padding: 35px;
             color: white;
             border-radius: 0 0 0 10px;
}

.container__dos {
             width: 50%;
             background-color: #4abebd;
             padding: 35px;
             color: white;
             border-radius: 0 0 10px 0;
}

span {
             font-weight: 700;
             font-size: 16px;
}

button {
             background-color: var(--Bright-Yellow);
             width: 100%;
             height: 40px;
             border: none;
             border-radius: 5px;
             color: white;
             box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.09);
             cursor: pointer;
}

button:hover {
             box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.627);
             background-color: hsla(71, 73%, 54%, 0.767);
}

@media screen and (max-width:717px) {
             .xxx {
                          width: 400px;
             }


             .container {
                          display: flex;
                          flex-wrap: wrap;
             }

             .container__uno {
                          width: 400px;
                          border-radius: 0;
             }

             .container__dos {
                          width: 400px;
                          border-radius: 0 0 10px 10px;
             }

}